@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: #333333;
    font-family: "Quicksand";
    user-select: none;
}

#root #main #navbar {
    margin: 40px 80px;
}

#root #main #navbar h1 {
    font-size: 38px;
}

#root #main #navbar h3 {
    border-bottom: 1px solid #333333;
    width: fit-content;
    margin-left: 40px;
}

#root #main main {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 100px auto 0 auto;
    width: 450px;
    box-shadow: 0 0 35px #7A7A7A;
}

#root #main main .card,
#root #main main .card .user {
    position: relative;
    width: 100%;
}

#root #main main .card .user .container .banner {
    position: absolute;
    width: 100%;
    height: 175px;
    margin: 0;
    background-image: url(./img/background.jpg);
    background-size: cover;
    overflow: hidden;
}

#root #main main .card .user .container .profilePicture {
    margin: 80px 0 0 50%;
    transform: translateX(-50%);
    border: 5px solid #FFFFFF;
    border-radius: 50%;
}

#root #main main .card .user .container h1 {
    text-align: center;
    margin-bottom: 25px;
}

#root #main main .card .user .container .user-data {
    margin: 15px 0 15px 50px;
    font-size: 18px;
}

#root #main main .card .user .container .user-data:last-child {
    margin-bottom: 50px;
}